@import "tailwindcss";

:root {
  --primary-color: #0D47A1;
  --secondary-color: #448AFF;
  --background-color: #ECEFF1;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
}

p{
  font-family: 'Poppins', sans-serif;
}

.btn-init{
  background-color: var(--secondary-color);
  color: white;
}

.btn-init:hover {
  background-color: var(--primary-color);
}